# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.swp
# HUGO GENERATED STUFF

hugo/.hugo_build.lock
hugo/public
hugo/static/tags
hugo/static/people
hugo/static/indexes
hugo/static/sources
