<!DOCTYPE HTML>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="content-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/source-serif.css">
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/styles.css">
    </head>
    <body>
      {{ block "main" . }}{{ end }}
      {{ block "footer" . }}{{ end }}
    </body>
 </html>
