{{/*
  Removed all opacity 
*/}}
@layer utilities {
.bg-primary { background-color: var(--$primary); }
.bg-secondary { background-color: var(--$secondary); }
.bg-success { background-color: var(--$success); }
.bg-info { background-color: var(--$info-rgb); }
.bg-warning { background-color: var(--$warning); }
.bg-danger { background-color: var(--$danger); }
.bg-black { background-color: var(--$black); }
.bg-white { background-color: var(--$white); }
.bg-body { background-color: var(--$body-bg); }
.bg-transparent { background-color: transparent; }
.bg-body-secondary { background-color: var(--$secondary-bg); }
.bg-body-tertiary { background-color: var(--$tertiary-bg); }
.bg-primary-subtle { background-color: var(--$primary-bg-subtle); }
.bg-secondary-subtle { background-color: var(--$secondary-bg-subtle); }
.bg-success-subtle { background-color: var(--$success-bg-subtle); }
.bg-info-subtle { background-color: var(--$info-bg-subtle); }
.bg-warning-subtle { background-color: var(--$warning-bg-subtle); }
.bg-danger-subtle { background-color: var(--$danger-bg-subtle); }
.bg-gradient { background-image: var(--$gradient); }
}
