{{ Root
    "--$heading-font-weight" 500
    "--$heading-line-height" 1.4
}}
{{ Theme "light" 
    "--$heading-color" "inherit"
}}
@layer base {
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: var(--$header-font-weight);
  line-height: var(--$heading-line-height);
  color: var(--$heading-color);
}
h1, .h1 { font-size: clamp(1.375rem, 1.375rem + 1.5vw, 2.5rem); }
h2, .h2 { font-size: clamp(1.325rem, 1.325rem + 0.9vw, 2rem); }
h3, .h3 { font-size: clamp(1.3rem,   1.3rem   + 0.6vw, 1.75rem); }
h4, .h4 { font-size: clamp(1.275rem, 1.275rem + 0.3vw, 1.5rem); }
h5, .h5 { font-size: 1.25rem; }
h6, .h6 { font-size: 1rem; }
}
