{{ Root
  "--$link-decoration" "underline"
  "--$link-hover-decoration" "underline"
}}
{{ Theme "light" 
  "--$link-color" "#0d6efd"
  "--$link-hover-color" "#0a58ca"
}}
{{ Theme "dark" 
  "--$link-color" "#6ea8fe"
  "--$link-hover-color" "#8bb9fe"
}}
@layer base {
a {
  color: var(--$link-color);
  text-decoration: var(--$link-decoration);

}
a:hover {
  color: var(--$link-hover-color);
  text-decoration: var(--$link-hover-decoration);
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}
}
