{{ Config `

# Breakpoints.  
#
#
BreakpointXSmall: 0px
BreakpointSmall: 576px
BreakpointMedium: 768px
BreakpointLarge: 992px
BreakpointXLarge: 1200px
BreakpointXXLarge: 1400px

EnableBreakpointXSmall: true
EnableBreakpointSmall: true
EnableBreakpointMedium: true
EnableBreakpointLarge: true
EnableBreakpointXLarge: true
EnableBreakpointXXLarge: true

# EnableBorder - enabled various fixed (not responsive) border utilities
EnableBorder: true

# EnableHeading
#
#
EnableHeading: true

# EnableHeadingDisplay - a lightweight font for large banners
#  Optional
#
EnableHeadingDisplay: false

# EnableDropdown
#  a drop-down component used in menu-like things
EnableDropdown: true

# EnableOffcanvas
#
#
EnableOffcanvas: true

# EnableNav
#
#
EnableNav: true

# Enable Navbar
#
#
EnableNavbar: true
`}}

