{{ template "options.css" . }}
{{ Config `
# turn off most of the grid
EnableBreakpointSmall: false
EnableBreakpointMedium: false
EnableBreakpointLarge: true
EnableBreakpointXLarge: false
EnableBreakpointXXLarge: false
`}}
{{ template "main.css" . }}
{{ template "m3-dark.css" . }}
{{ Root
   "body-font-size" "1.2rem"
   "body-font-family" `"source serif", sans`
   "link-decoration" "none"
   "link-hover-decoration" "underline"
}}

{{ template "source-serif.css" . }}

/* TBD if I want this? */
p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

blockquote {
    line-height: 1.25;
    font-size: 90%;

    margin-top: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 0.5em;

    page-break-inside: avoid;
}

/* Should be better way, and as a bootstrap default */
td, th {
    vertical-align: top;
}

/* set font to 100% (or inherit?)
 * blockquote makes the font smaller, but in footnotes 
 * this is too small.  So just keep font the same size
 * as parent
 */
.fs-100p { font-size: inherit; }


/* why do I have this? */
.w-100n {
  width: 100%;
}

.font-monospace {
  font-family: var(font-family-system-monospace) !important;
}
.font-sans {
  font-family: var(font-family-system-sans-serif) !important;
}
/* should be font-smallcaps */
.text-smallcaps {
    font-variant-caps: small-caps;
    /* font-feature-settings: "smcp" 1; */
}

/* not needed - default in Serif Pro is tabular */
.text-normal-nums {
    font-variant-numeric: normal;
}
.text-proportional-nums {
    font-variant-numeric: proportional-nums;
}
.text-tabular-nums {
    font-variant-numeric: lining-nums;  /* probably not needed */
    font-feature-settings: tabular-nums;
}

/* print page break utilitites */
.break-after-always {
    page-break-after: always;
}
.break-after-avoid {
    page-break-after: avoid;
}
.break-inside-avoid {
    page-break-inside: avoid;
}

.white-space-pre {
    white-space: pre;
}
.white-sapce-pre-wrap {
    white-space: pre-wrap;
}
.white-space-pre-line {
    white-space: pre-line;
}

.width-100r {
    width: 1rem;
}
.width-200r {
    width: 2rem;
}
.width-300r {
    width: 3rem;
}

td.child-counter {
    width: 1rem;
}
ul.todos {
    list-style-type: "\26A0";
    list-style-position: outside;
    margin-left: 0;
    padding-left: 1rem;
}
ul.todos li {
    margin-left: 0;
    padding-left: 2rem;
}
ul.notes {
    list-style-type: "\2799";
    list-style-position: outside;
    margin-left: 0;
    padding-left: 1rem;
}
ul.notes li {
    margin-left: 0;
    padding-left: 2rem;
}
