.text-decoration-none {
  text-decoration: none !important;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.text-decoration-line-through {
  text-decoration: line-through !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-wrap {
  white-space: normal !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

/* rtl:begin:remove */
.text-break {
  word-wrap: break-word !important;
  word-break: break-word !important;
}

/* rtl:end:remove */
.text-primary {
  --bs-text-opacity: 1;
  color: var(primary) !important;
}

.text-secondary {
  --bs-text-opacity: 1;
  color: var(secondary) !important;
}

.text-success {
  --bs-text-opacity: 1;
  color: var(success) !important;
}

.text-info {
  --bs-text-opacity: 1;
  color: var(info) !important;
}

.text-warning {
  --bs-text-opacity: 1;
  color: var(warning) !important;
}

.text-danger {
  --bs-text-opacity: 1;
  color: var(danger) !important;
}

.text-light {
  --bs-text-opacity: 1;
  color: var(light) !important;
}

.text-dark {
  --bs-text-opacity: 1;
  color: var(dark) !important;
}

.text-black {
  --bs-text-opacity: 1;
  color: var(black) !important;
}

.text-white {
  --bs-text-opacity: 1;
  color: var(white) !important;
}

.text-body {
  --bs-text-opacity: 1;
  color: var(body-color) !important;
}

.text-muted {
  --bs-text-opacity: 1;
  color: var(secondary-color) !important;
}

.text-black-50 {
  --bs-text-opacity: 1;
  color: rgba(0, 0, 0, 0.5) !important;
}

.text-white-50 {
  --bs-text-opacity: 1;
  color: rgba(255, 255, 255, 0.5) !important;
}

.text-body-secondary {
  --bs-text-opacity: 1;
  color: var(secondary-color) !important;
}

.text-body-tertiary {
  --bs-text-opacity: 1;
  color: var(tertiary-color) !important;
}

.text-body-emphasis {
  --bs-text-opacity: 1;
  color: var(emphasis-color) !important;
}

.text-reset {
  --bs-text-opacity: 1;
  color: inherit !important;
}

.text-opacity-25 {
  --bs-text-opacity: 0.25;
}

.text-opacity-50 {
  --bs-text-opacity: 0.5;
}

.text-opacity-75 {
  --bs-text-opacity: 0.75;
}

.text-opacity-100 {
  --bs-text-opacity: 1;
}

.text-primary-emphasis {
  color: var(primary-text-emphasis) !important;
}

.text-secondary-emphasis {
  color: var(secondary-text-emphasis) !important;
}

.text-success-emphasis {
  color: var(success-text-emphasis) !important;
}

.text-info-emphasis {
  color: var(info-text-emphasis) !important;
}

.text-warning-emphasis {
  color: var(warning-text-emphasis) !important;
}

.text-danger-emphasis {
  color: var(danger-text-emphasis) !important;
}

.text-light-emphasis {
  color: var(light-text-emphasis) !important;
}

.text-dark-emphasis {
  color: var(dark-text-emphasis) !important;
}

