{{/*
       Removed anything to do with "text opacity"
*/}}
.text-decoration-none {
  text-decoration: none !important;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.text-decoration-line-through {
  text-decoration: line-through !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-wrap {
  white-space: normal !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

/* rtl:begin:remove */
.text-break {
  word-wrap: break-word !important;
  word-break: break-word !important;
}

/* rtl:end:remove */
.text-primary {
  color: var(--$primary) !important;
}

.text-secondary {
  color: var(--$secondary) !important;
}

.text-success {
  color: var(--$success) !important;
}

.text-info {
  color: var(--$info) !important;
}

.text-warning {
  color: var(--$warning) !important;
}

.text-danger {
  color: var(--$danger) !important;
}

.text-light {
  color: var(--$light) !important;
}

.text-dark {
  color: var(--$dark) !important;
}

.text-black {
  color: var(--$black) !important;
}

.text-white {
  color: var(--$white) !important;
}

.text-body {
  color: var(--$body-color) !important;
}

.text-muted {
  color: var(--$secondary-color) !important;
}

.text-black-50 {
  color: rgb(0 0 0 / 50%) !important;
}

.text-white-50 {
  color: rgb(255 255 255 / 50%) !important;
}

.text-body-secondary {
  color: var(--$secondary-color) !important;
}

.text-body-tertiary {
  color: var(--$tertiary-color) !important;
}

.text-body-emphasis {
  color: var(--$emphasis-color) !important;
}

.text-reset {
  color: inherit !important;
}

.text-primary-emphasis {
  color: var(--$primary-text-emphasis) !important;
}

.text-secondary-emphasis {
  color: var(--$secondary-text-emphasis) !important;
}

.text-success-emphasis {
  color: var(--$success-text-emphasis) !important;
}

.text-info-emphasis {
  color: var(--$info-text-emphasis) !important;
}

.text-warning-emphasis {
  color: var(--$warning-text-emphasis) !important;
}

.text-danger-emphasis {
  color: var(--$danger-text-emphasis) !important;
}

.text-light-emphasis {
  color: var(--$light-text-emphasis) !important;
}

.text-dark-emphasis {
  color: var(--$dark-text-emphasis) !important;
}

