@font-face{
    font-family: 'Source Serif VF';
    font-weight: 400 500 700;
    font-style: normal;
    font-stretch: normal;
    src: url('/galbraith/fonts/SourceSerif4Variable-Roman.otf.woff2') format('woff2')
}

@font-face{
    font-family: 'Source Serif VF';
    font-weight: 400 500 700;
    font-style: italic;
    font-stretch: normal;
    src: url('/galbraith/fonts/SourceSerif4Variable-Italic.otf.woff2') format('woff2')
}

:root {
    --bs-body-font-size: 120%;

    /* make text black
     * was #212529, rgb(33, 37, 41)
     */
    /*
    --bs-body-color: #000000;
    --bs-body-color-rgb: 0,0,0;
     */

    --bs-link-color: rgb(13,76,177);
    --bs-link-color-rgb: 13,76,177;
    --bs-link-hover-color: rgb(13,76,177);
    --bs-link-hover-color-rgb: 13,76,177;
}
body {
    font-family: "Source Serif VF", "Source Serif", sans;
    font-feature-settings: "kern" 1, "liga" 1;
    font-optical-sizing: auto;

    /* required for Safari */
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

nav, .badge, .btn {
    /* uses san-serif font for UI and restore normal weight */
    font-family: var(--bs-font-sans-serif);
    font-weight: 400;

    /* badge/button specific hacks */
    --bs-btn-font-size: 0.75rem;
    --bs-btn-padding-x: 0.4rem;
    --bs-btn-padding-y: 0.0rem;
}

/* should be font-smallcaps */
.text-smallcaps {
    font-variant-caps: small-caps;
    /* font-feature-settings: "smcp" 1; */
}

/* not needed - default in Serif Pro is tabular */
.text-normal-nums {
    font-variant-numeric: normal;
}
.text-proportional-nums {
    font-variant-numeric: proportional-nums;
}
.text-tabular-nums {
    font-variant-numeric: lining-nums;  /* probably not needed */
    font-feature-settings: tabular-nums;
}
*/

/* print page break utilitites */
.break-after-always {
    page-break-after: always;
}
.break-after-avoid {
    page-break-after: avoid;
}
.break-inside-avoid {
    page-break-inside: avoid;
}

/* th might be better valign bottom
 * Should be bootstrap default 
 */
td, th {
    vertical-align: top;
}

small, .small {
  font-size: 0.8125em;
}

blockquote {
    line-spacing: 1.0;
    font-size: 0.9rem;

    margin-top: 0.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1rem;

    page-break-inside: avoid;
}
/*
 this is a dup of bootstrap for reference 

sub,
sup {
    position: relative;
    font-size: 0.75em;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}
sup {
    top: -0.40em;
}
*/
/* undo all of it since our font supports this natively */
sup {
    font-variant-position: super;
    top: 0;
    font-size: 100%;
}

td.child-counter {
    width: 1rem;
}
td.roman {
    width: 2rem;
}
td.footnote-counter {
    width: 1.rem;
}
ul.todos {
    list-style-type: "\26A0";
    list-style-position: outside;
    margin-left: 0;
    padding-left: 1rem;
}
ul.todos li {
    margin-left: 0;
    padding-left: 2rem;
}

ul.notes {
    list-style-type: "\2799";
    list-style-position: outside;
    margin-left: 0;
    padding-left: 1rem;
}
ul.notes li {
    margin-left: 0;
    padding-left: 2rem;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
  /* cut-n-paste from bootstrap.  This is their dark theme */
  --bs-body-color: #dee2e6;
  --bs-body-color-rgb: 222, 226, 230;
  --bs-body-bg: #212529;
  --bs-body-bg-rgb: 33, 37, 41;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(222, 226, 230, 0.75);
  --bs-secondary-color-rgb: 222, 226, 230;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(222, 226, 230, 0.5);
  --bs-tertiary-color-rgb: 222, 226, 230;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43, 48, 53;
  --bs-primary-text-emphasis: #6ea8fe;
  --bs-secondary-text-emphasis: #a7acb1;
  --bs-success-text-emphasis: #75b798;
  --bs-info-text-emphasis: #6edff6;
  --bs-warning-text-emphasis: #ffda6a;
  --bs-danger-text-emphasis: #ea868f;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #031633;
  --bs-secondary-bg-subtle: #161719;
  --bs-success-bg-subtle: #051b11;
  --bs-info-bg-subtle: #032830;
  --bs-warning-bg-subtle: #332701;
  --bs-danger-bg-subtle: #2c0b0e;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #084298;
  --bs-secondary-border-subtle: #41464b;
  --bs-success-border-subtle: #0f5132;
  --bs-info-border-subtle: #087990;
  --bs-warning-border-subtle: #997404;
  --bs-danger-border-subtle: #842029;
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: inherit;
  --bs-link-color: #6ea8fe;
  --bs-link-hover-color: #8bb9fe;
  --bs-link-color-rgb: 110, 168, 254;
  --bs-link-hover-color-rgb: 139, 185, 254;
  --bs-code-color: #e685b5;
  --bs-highlight-color: #dee2e6;
  --bs-highlight-bg: #664d03;
  --bs-border-color: #495057;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: #75b798;
  --bs-form-valid-border-color: #75b798;
  --bs-form-invalid-color: #ea868f;
  --bs-form-invalid-border-color: #ea868f;
    }
    /* Add more contrast. */ 
    :root {
        --bs-body-color: #e1e1e1;
        --bs-body-color-rgb: 226,226,226;
        --bs-body-bg: #121212;
        --bs-body-bg-rgb: 18,18,18;
    }
    /* bootstrap 5.3 - navbar is a separate animal */
    .navbar  {
        --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}

@media print {
    @page {
        margin: 1in;
    }
    :root {
        /* force black text and white background */
        --bs-body-color: #000000;
        --bs-body-color-rgb: 0,0,0;
        --bs-body-bg: #ffffff;
        --bs-body-bg-rgb: 255,255,255;

        /* force links to be black text          */
        --bs-link-color: #000000;
        --bs-link-color-rgb: 0,0,0;
        --bs-link-hover-color: #000000;
        --bs-link-hover-color-rgb: 0,0,0;
    }
    div.person-secondary {
        display: none;
    }
    nav {
        display: none !important;
    }
    .print-hack {
        width: 100%;
    }
}
