:root {
    /* make text black
     * was #212529, rgb(33, 37, 41)
     */
    /*
    --bs-body-color: #000000;
    --bs-body-color-rgb: 0,0,0;
     */

    --bs-link-color: rgb(13,76,177);
    --bs-link-color-rgb: 13,76,177;
    --bs-link-hover-color: rgb(13,76,177);
    --bs-link-hover-color-rgb: 13,76,177;
}

@font-face{
    font-family: 'Source Serif VF';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('/galbraith/fonts/SourceSerif4Variable-Roman.otf.woff2') format('woff2')
}

@font-face{
    font-family: 'Source Serif VF';
    font-weight: 200 900;
    font-style: italic;
    font-stretch: normal;
    src: url('/galbraith/fonts/SourceSerif4Variable-Italic.otf.woff2') format('woff2')
}

@font-face {
    /*
     * https://github.com/quoteunquoteapps/CourierPrime
     * https://johnaugust.com/2013/introducing-courier-prime
     * https://fonts.google.com/specimen/Courier+Prime
     *
     * and then converted from ttf to woff2 (109k to 29k)
     */
    font-family: courier-prime;
    src: url("/galbraith/fonts/Courier Prime.ttf.woff2") format('woff2');
}

body {
    font-family: "Source Serif VF", "Source Serif", sans;
    overflow-x: hidden;
    font-feature-settings: "kern" 1, "liga" 1;
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
    margin-left: 2em;
    margin-right: 2em;
    /* Using Source Serif @ 400 for body text at small sizes isi
     * bit thin and anti-aliased to gray.  450 thickens it up a bit.
     * This applies to everything so undo for nav-specific
     * items which are using a sans-serif font. 
     *
     * Bootstrap uses 500 for h1-h6 items already, which seems fine.
     * Bold and Bolder is 700
     *
     * TODO: perhaps change --bs-body-font-weight instead
     */
    font-weight: 450;
}

nav {
    /* uses san-serif font for UI and restore normal weight */
    font-family: var(--bs-font-sans-serif);
    font-weight: 400;
}
span.primary-number {
    font-weight: bold;
    margin-right: 1em;
}

span.primary-name , span.partner-name {
    font-feature-settings: "smcp" 1;
    font-weight: bold;
    white-space: nowrap;
}
span.date {
    white-space: nowrap;
}

span.child-name, span.child-partner-name {
    font-feature-settings: "smcp" 1;
    white-space: nowrap;
}

.nowrap {
    white-space: nowrap;
}
table.base {
    width:100%;
    padding: 3px;
}
table.base th {
    font-size: larger;
    padding-top: 1em;
    padding-bottom: 1em;
}
table.base td {
    vertical-align: top;
}

table.xtable {
    width:95%;
    margin-left: auto;
}
table.xtable td {
    padding: 3px;
    font-family: courier-prime;
    font-size: smaller;
    vertical-align: top;
}

table.xtable th {
    padding: 3px;
    font-family: courier-prime;
    font-size: smaller;
    vertical-align: top;
}
table.child-list {
    margin-bottom: 2em;
}

td.child-counter {
    vertical-align: top;
    width: 1rem;
}
td.roman {
    vertical-align: top;
    text-align: right;
    width: 2rem;
}
td.child-entry {
    vertical-align: top;
    padding-left: 1rem;
}

div.footnotes {
    font-size: smaller;
}
td.footnote-counter {
    vertical-align: top;
    width: 1.em;
}
td.footnote-body {
    vertical-align: top;
    page-break-inside: avoid;
}
div.person {
    margin-bottom: 40px;
    page-break-after: always;
}
ol.lineage {
    padding-left: 1em;
}
ul.externals {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

ul.notes {
    list-style-type: "\2799";
    list-style-position: outside;
    margin-left: 0;
    padding-left: 1em;
}
ul.notes li {
    margin-left: 0;
    padding-left: 2em;
}

blockquote {
    font-size: smaller;

    /* if @font-face doesn't work, it will break and use Serif
     * so you can tell it's broken
     */
    font-family: courier-prime, serif;

    margin-top: 0.5em;
    margin-left: 2em;

    /* not sure why this isn't 0 to begin with */
    margin-bottom: 0.2em;

    page-break-inside: avoid;
}

div.person-secondary {
    font-size: smaller;
}

li.ancestor {
    margin: 5px;
}

div.banner {
    margin-top:1em;
    margin-bottom:2em;
}

/*
 this is a dup of bootstrap for reference 

sub,
sup {
    position: relative;
    font-size: 0.75em;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}
sup {
    top: -0.40em;
}
*/
/* undo all of it since our font supports this natively */
sup {
    font-variant-position: super;
    top: 0;
    font-size: 100%;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        /* cut-n-paste from bootstrap.  This is their dark theme */
        --bs-body-color: #adb5bd;
        --bs-body-color-rgb: 173, 181, 189;
        --bs-body-bg: #212529;
        --bs-body-bg-rgb: 33, 37, 41;
        --bs-emphasis-color: #f8f9fa;
        --bs-emphasis-color-rgb: 248, 249, 250;
        --bs-secondary-color: rgba(173, 181, 189, 0.75);
        --bs-secondary-color-rgb: 173, 181, 189;
        --bs-secondary-bg: #343a40;
        --bs-secondary-bg-rgb: 52, 58, 64;
        --bs-tertiary-color: rgba(173, 181, 189, 0.5);
        --bs-tertiary-color-rgb: 173, 181, 189;
        --bs-tertiary-bg: #2b3035;
        --bs-tertiary-bg-rgb: 43, 48, 53;
        --bs-emphasis-color: #fff;
        --bs-primary-text: #6ea8fe;
        --bs-secondary-text: #dee2e6;
        --bs-success-text: #75b798;
        --bs-info-text: #6edff6;
        --bs-warning-text: #ffda6a;
        --bs-danger-text: #ea868f;
        --bs-light-text: #f8f9fa;
        --bs-dark-text: #dee2e6;
        --bs-primary-bg-subtle: #031633;
        --bs-secondary-bg-subtle: #212529;
        --bs-success-bg-subtle: #051b11;
        --bs-info-bg-subtle: #032830;
        --bs-warning-bg-subtle: #332701;
        --bs-danger-bg-subtle: #2c0b0e;
        --bs-light-bg-subtle: #343a40;
        --bs-dark-bg-subtle: #1a1d20;
        --bs-primary-border-subtle: #084298;
        --bs-secondary-border-subtle: #495057;
        --bs-success-border-subtle: #0f5132;
        --bs-info-border-subtle: #055160;
        --bs-warning-border-subtle: #664d03;
        --bs-danger-border-subtle: #842029;
        --bs-light-border-subtle: #495057;
        --bs-dark-border-subtle: #343a40;
        --bs-link-color: #6ea8fe;
        --bs-link-hover-color: #9ec5fe;
        --bs-link-color-rgb: 110, 168, 254;
        --bs-link-hover-color-rgb: 158, 197, 254;
        --bs-code-color: #e685b5;
        --bs-border-color: #495057;
        --bs-border-color-translucent: rgba(255, 255, 255, 0.15);  
    }
    /* bootstrap 5.3a1 - navbar is a separate animal */
    .navbar  {
        --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    /* darken the background */
    :root {
        --bs-body-color: #e1e1e1;
        --bs-body-color-rgb: 226,226,226;
        --bs-body-bg: #121212;
        --bs-body-bg-rgb: 18,18,18;
    }
}

@media print {
    @page {
        margin: 1in;
    }
    :root {
        /* force black text and white background */
        --bs-body-color: #000000;
        --bs-body-color-rgb: 0,0,0;
        --bs-body-bg: #ffffff;
        --bs-body-bg-rgb: 255,255,255;

        /* force links to be black text          */
        --bs-link-color: #000000;
        --bs-link-color-rgb: 0,0,0;
        --bs-link-hover-color: #000000;
        --bs-link-hover-color-rgb: 0,0,0;
    }
    div.person-secondary {
        display: none;
    }
    nav {
        display: none !important;
    }
    .print-hack {
        width: 100%;
    }
}
