:root {
  --bs-body-color: #000;
  --bs-body-bg: #fff;
/*
 * --bs-link-color: #000;
 *  --bs-link-hover-color: #000;
 */
  --a-hover-background-color: #ddd;
}

body {
    font-family: "Source Serif VF", "Source Serif", sans;
    overflow-x: hidden;
    font-feature-settings: "kern" 1, "liga" 1;
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
    margin-left: 2em;
    margin-right: 2em;
}

span.primary-number {
    font-weight: bold;
    margin-right: 1em;
}

span.primary-name , span.partner-name {
     font-feature-settings: "smcp" 1;
     font-weight: bold;
     white-space: nowrap;
}
span.date {
    white-space: nowrap;
}

span.child-name, span.child-partner-name {
     font-feature-settings: "smcp" 1;
     white-space: nowrap;
}

table.child-list {
    margin-bottom: 2em;
}

td.child-counter {
    vertical-align: top;
    width: 1rem;
}
td.roman {
    vertical-align: top;
    text-align: right;
    width: 2rem;
}
td.child-entry {
    vertical-align: top;
    padding-left: 1rem;
}

div.footnotes {
    font-size: smaller;
}
td.footnote-counter {
    vertical-align: top;
    width: 1.em;
}
td.footnote-body {
    vertical-align: top;
    page-break-inside: avoid;
}
div.person {
    width:800px;
    margin-bottom: 40px;
    page-break-after: always;
}
@font-face {
    /*
     * https://github.com/quoteunquoteapps/CourierPrime
     * https://johnaugust.com/2013/introducing-courier-prime
     * https://fonts.google.com/specimen/Courier+Prime
     */
    font-family: courier-prime;
    src: url("/galbraith/fonts/Courier Prime.ttf");
}

blockquote {
    font-size: smaller;

    /* if @font-face doesn't work, it will break and use Serif
     * so you can tell it's broken
     */
    font-family: courier-prime, serif;

    margin-top: 0.5em;
    margin-left: 2em;

    /* not sure why this isn't 0 to begin with */
    margin-bottom: 0.2em;

    page-break-inside: avoid;
}

div.person-secondary {
    font-size: smaller;
}

li.ancestor {
    margin: 5px;
}

div.banner {
    margin-top:1em;
    margin-bottom:2em;
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
/*  top: -0.50em; */
    top: -0.40em;
}

a {
    text-decoration: none;
}
a:hover {
    background: var(--a-hover-background-color);
}
/*
sup {font-size:xx-small; vertical-align:super;}
*/
@media screen and (prefers-color-scheme: dark) {
    :root {
        --bs-body-color: #FFF;
        --bs-body-bg: #222;
        /*
        --bs-link-color: #FFF;
        --bs-link-hover-color: #FFF;
        */
        --a-hover-background-color: #444;
    }
}


@media print {
    @page {
        margin: 1in;
    }
    :root {
        --bs-body-color: #000;
        --bs-body-bg: #fff;
        --bs-link-color: #000;
        --bs-link-hover-color: #000;
    }
    div.banner {
        display: none;
    }
    div.externals {
        display: none;
    }
}
