<!DOCTYPE HTML>
<html lang=en data-bs-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>{{ .Page.title }}</title>
    <link rel="preload" href="/galbraith/fonts/SourceSerif4-Regular.otf.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/galbraith/fonts/SourceSerif4-Semibold.otf.woff2" as="font" type="font/woff2" crossorigin  />

    <script src="/galbraith/color-mode-toggler.js"></script>
    <!-- Safari 17.4 - script must be above stylesheet, else double loads on fonts -->
    <link rel="stylesheet" type="text/css" href="/galbraith/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/galbraith/styles.css">
    <link rel="stylesheet" type="text/css" href="/galbraith/darker.css">
{{ block "header-extra" . }}
{{ end }}
</head>
<body>
<!-- <div style="max-width: 50rem;" class="bg-white mx-auto"> -->
<div class="container-fluid">
{{ template "navbar.html" . }}
<div class="ps-2 pe-2">
{{ block "main" . }}
{{ .Page.Content }}
{{ end }}
</div><!-- content wrapper -->
</div><!-- main container -->

<script src="/galbraith/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
