<!DOCTYPE HTML>
<html lang=en data-bs-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>{{ .Page.title }}</title>
    <link rel="preload" href="/galbraith/fonts/SourceSerif4-Regular.otf.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/galbraith/fonts/SourceSerif4-Semibold.otf.woff2" as="font" type="font/woff2" crossorigin  />

    <!-- Safari 17.4 - script must be above stylesheet, else double loads on fonts -->
    <script type="text/javascript">
    function togglenav(element) {
      menu = document.getElementById("navbarNavAltMarkup");
      if (element.getAttribute("aria-expanded") == "true") {
        element.setAttribute("aria-expanded", "false");
        menu.classList.remove("show");
        return
      }
      element.setAttribute("aria-expanded", "true");
      menu.classList.add("show");
    }
    </script>
    <link rel="stylesheet" type="text/css" href="/galbraith/styles.css">
{{ block "header-extra" . }}
{{ end }}
</head>
<body class="bg-white">
  <div style="max-width: 50rem;" class="bg-white mx-auto">
     <nav class="navbar navbar-expand-md mb-3 border-bottom">
       <div class="container-fluid">
          <button onclick="togglenav(this)" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
          </button>
         <a class="navbar-brand mx-auto" href="/galbraith/">Galbraith Research</a>
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
               <a class="nav-link" href="/galbraith/indexes/">Indexes</a>
               <a class="nav-link" href="/galbraith/tags/">Tags</a>
               <a class="nav-link" href="/galbraith/sources/">Sources</a>
               <a class="nav-link" href="/galbraith/journal/">Journal</a>
            </div>
         </div>
       </div>
     </nav>
<div class="ps-2 pe-2">
{{ block "main" . }}
{{ .Page.Content }}
{{ end }}
</div><!-- content wrapper -->
</div><!-- main container -->
</body>
</html>
